.timer-container{
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: red;
    padding: 20px;
    position: relative;
}
.close-timer{
    display: none;
}
.time{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.span{
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgb(0, 0, 41);
        padding: 15px 25px;
        border-radius: 5px;
}
small{
    color: white;
    background: tomato;
    padding: 3px;
    box-shadow: 1px 1px 2px white;
}
.para-time{
    color: white;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}
span{
    margin: 0px 8px;
}
h1{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    color: aliceblue;
}
.close{
    color: red;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    text-align: right;
    margin-top: -53px;
}