*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    padding: 30px;
    background: skyblue;
}
.joke{
    width: 50%;
    max-width: 400px;
    margin: auto;
    background: darkblue;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
}
.button{
    width: 90%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 7px;
    color: darkblue;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}